@import 'bootstrap/scss/functions';

$enable-grid-classes: false;
$enable-cssgrid: true;


$body-bg: #f1f1f1;
$body-color: #333333;

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-size-base: 1.2rem;

$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.50;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base * 1.15;
$h6-font-size: $font-size-base * 1.1;


$enable-shadows: true;
$primary: #4786f1;
$secondary: #04A777; // #88BD00;
// $success;
$info: #49afcd;
// $warning;
$danger: #DE5641;
// $light;
// $dark;

$link-color: #066f8f;
$link-decoration: none;
$link-hover-decoration: underline;

$btn-font-weight: bold;
$btn-link-color: white;

$alert-padding-y: 0.5rem;
$alert-padding-x: 0.5rem;

$input-bg: white;

$custom-max-width: 69ch;

// todo: table-bg #6da2b3 color white 

@import 'bootstrap/scss/bootstrap';

body {
    min-height: 100vh;
}

.btn {
    text-rendering: optimizelegibility;

    &:hover {
        text-rendering: optimizelegibility;
    }
}

.btn-primary,
.btn-secondary,
.btn-info,
.btn-danger {
    color: white !important; // #F1F1F1 !important;

    &:hover {
        color: white !important; // #F1F1F1 !important;
    }
}

.btn-outline-primary {
    &:hover {
        color: white !important;
    }
}

.btn-outline-danger {
    &:hover {
        color: white !important;
    }
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $font-weight-semibold;
}

p {
    margin-bottom: 0.8rem !important;
}

#main_content {
    max-width: $custom-max-width;
    overflow-wrap: break-word;
    width: 95vw;
}


.smaller-font {
    font-size: 0.6em;
}

.smaller-font-1 {
    font-size: 0.9em;
}

.smaller-font-2 {
    font-size: 0.8em;
}

.smaller-font-3 {
    font-size: 0.7em;
}

.smaller-font-4 {
    font-size: 0.6em;
}

.fs-2em {
    font-size: 2em;
}

.fs-2-5em {
    font-size: 2.5em;
}

.fs-3em {
    font-size: 3em;
}

.fs-5em {
    font-size: 5em;
}

.w-min-content {
    width: min-content;
}

.w-fit-content {
    width: fit-content;
}

.w-max-content {
    width: max-content;
}

.w-max-width-78ch {
    max-width: 78ch;
}

.url-max-width {
    max-width: $custom-max-width - 5ch;
}

.w-max-5em {
    max-width: 5em;
}

.w-max-30em {
    max-width: 30em;
}

.w-min-16ch {
    min-width: 16ch;
}

.h-max-10em {
    max-height: 10em;
}

.overflow-y-scroll {
    overflow-y: scroll !important;
}

.mt-2em {
    margin-top: 2em;
}

.mb-2em {
    margin-top: 2em;
}

.mt-4em {
    margin-top: 4em;
}

.mb-4em {
    margin-top: 4em;
}

.weekly-index-grid {
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(8em, 1fr)) !important;
    grid-gap: 0.9em 0.8em !important;
}

.mention-rules-grid {
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr)) !important;
    grid-gap: 0.9em 0.8em !important;
}

.flex-1-1-0 {
    flex: 1 0 0;
    min-width: 0
}

.highlight {
    color: #d730cc;
}

.vertical-align-baseline {
    vertical-align: baseline;
}

.text-underline-hover {
    text-decoration: none;
}

.text-underline-hover:hover {
    text-decoration: underline;
}


#carbonads * {
  margin: initial;
  padding: initial;
  line-height: initial;
}
   
#carbonads {
  --carbon-font-family: -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', Helvetica, Arial, sans-serif;
  --carbon-font-size: 14px;
  --carbon-padding: 1.5ch;
  --carbon-max-char: 20ch;
  --carbon-bg-primary: hsl(0, 0%, 98%);
  --carbon-bg-secondary: hsl(0, 0%, 92%);
  --carbon-text-color: hsl(0, 0%, 20%);
  z-index: 10;
  font-size: var(--carbon-font-size);
  font-family: var(--carbon-font-family);
}

#carbonads > span {
  display: flex;
  flex-direction: column;
  min-inline-size: 130px;
  max-inline-size: calc(
    130px + var(--carbon-max-char) + 8ch
  );
  padding: var(--carbon-padding);
  gap: var(--carbon-padding);
  background-color: var(--carbon-bg-primary);
  box-shadow: 0 0 1px hsl(0deg, 0%, 0% / 0.085),
    0 0 2px hsl(0deg, 0%, 0% / 0.085),
    0 0 4px hsl(0deg, 0%, 0% / 0.085),
    0 0 8px hsl(0deg, 0%, 0% / 0.085);
}

#carbonads a {
  color: var(--carbon-text-color);
  text-decoration: none;
}

#carbonads a:hover {
  color: var(--carbon-text-color);
}

#carbonads .carbon-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5ex;
}

#carbonads .carbon-img {
  flex: 0 0 130px;
}

#carbonads .carbon-img img {
  display: block;
}

#carbonads .carbon-text {
  flex-grow: 1;
  flex-basis: var(--carbon-max-char);
  line-height: 1.4;
  text-align: left;
}

#carbonads .carbon-poweredby {
  padding: 6px 8px;
  background: var(--carbon-bg-secondary);
  color: var(--carbon-text-color);
  font-weight: 600;
  font-size: 0.6em;
  line-height: 1.4;
  letter-spacing: 0.2ch;
  text-align: center;
  text-transform: uppercase;
}

@media (prefers-color-scheme: dark) {
  #carbonads {
    --carbon-bg-primary: hsl(0, 0%, 12%);
    --carbon-bg-secondary: hsl(0, 0%, 15%);
    --carbon-text-color: hsl(0, 0%, 90%);
  }
}


