{% extends "web/base.html" %}

{% load util %}
{% load static %}

{% block title %}Discussions and comments API V0 documentation - discu.eu{% endblock %}

{% block meta_description %}
Interactive documentation for version V0 of our discussions and comments API.
{% endblock %}

{% block extra_head %}
<link type="text/css" rel="stylesheet" href="{% static 'ninja/swagger-ui.css' %}">
{% endblock %}

{% block main %}
<div id="swagger-ui">
</div>

<noscript>
    <p>Interactive documentation for the <a href="{% url 'web:api' %}" title="Discussions API">discussions and comments
            API</a>.</p>
</noscript>
<script src="{% static 'ninja/swagger-ui-bundle.js' %}"></script>
<script src="{% static 'ninja/swagger-ui-init.js' %}"></script>
<script>
    const ui = SwaggerUIBundle({
        url: '{{ openapi_json_url }}',
        dom_id: '#swagger-ui',
        presets: [
            SwaggerUIBundle.presets.apis,
            SwaggerUIBundle.SwaggerUIStandalonePreset
        ],
        layout: "BaseLayout",
        {% if api.csrf and csrf_token %}
    requestInterceptor: (req) => {
        req.headers['X-CSRFToken'] = "{{csrf_token}}"
        return req;
    },
        {% endif %}
    deepLinking: true,
        tryItOutEnabled: true,
            persistAuthorization: true,
        })
</script>


{% endblock %}
