{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
	<meta charset=utf-8>
	<meta name=viewport content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static "style.css" %}" />
	<link rel="icon" type="image/png" href="{% static "favicon-32x32.png" %}">


	<title>{% spaceless %}
	    {% block title %}Discussions around the Web{% endblock %}
	    {% endspaceless %}</title>

	{% block extra_head %}{% endblock %}

	<meta name="description"
	      content="{%spaceless%}
{% block meta_description %}
Find interesting discussions on Hacker News, Reddit and Lobsters for a given URL, title or keyword
{% endblock meta_description %}{% endspaceless %}">

	<link rel="search" type="application/opensearchdescription+xml" title="Search Discussions"
	      href="/opensearch.xml">

	<script defer data-domain="discu.eu" src="https://plausible.xojoc.pw/js/plausible.js"></script>

	<meta name="monetization" content="$ilp.uphold.com/ghRae2a8Yjkq" />
    </head>

    <body>
	<div id=wrapper>
	    <header>
		<div id=title>
		    <h1 id=site_title><a href="/" title="Discussions around the web">Discussions</a></h1>
		</div>
	    </header>

	    {% block main_main %}

	    <div id="content">
		{% block main %}{% endblock %}
	    </div>

	    {% endblock main_main %}

	    <footer>
		<p>
		    <a href="/social" title="Social accounts and bots">Social accounts/bots</a> — <a href="/statistics"
													   title="Discussions statistics">Statistics</a> — Made by <a href="https://xojoc.pw"
																					    title="My home page">Alexandru Cojocaru</a> (<a class="u-email email" href="mailto:hi@xojoc.pw"
																												   title="Contact me">hi@xojoc.pw</a>)
		</p>
	    </footer>
	</div>
    </body>

</html>
