{% extends "web/base.html" %}

{% block title %}
Bookmarklets - discu.eu
{% endblock title %}

{% block meta_description %}
Bookmarklet for looking up discussions and comments for the current page.
{% endblock %}

{% block main %}
<h2>Bookmarklets</h2>

<p>Use the following bookmarklet to find discussions anywhere you go:</p>
<p>
    <a href="{% include 'web/discussions_bookmarklet.js' %}" title="Discussions by url bookmarklet">Discussions</a>
</p>
<p>Bookmark the above link and click on it on any page to be redirected here. For more information about
    bookmarklets see <a href="https://support.mozilla.org/en-US/kb/bookmarklets-perform-common-web-page-tasks">Firefox's
        help pages</a>.</p>

<p>The above bookmarklet searches by url. To search discussions by title, use the following bookmarklet:</p>
<p>
    <a href="{% include 'web/discussions_title_bookmarklet.js' %}"
        title="Discussions by title bookmarklet">Discussions</a>
</p>

<h3>Browser extension</h3>

<p>Alternatively you can install the <a href="{% url 'web:extension' %}" title="Browser extensions">browser
        extension</a>.
</p>

{% endblock main %}