{% extends "web/base.html" %}
{% load crispy_forms_tags %}
{% load util %}

{% block title %}Mentions - discu.eu{% endblock %}

{% block main %}

{% is_dev as var_is_dev %}

{% if var_is_dev or user.pk == 2 %}

{% if user.is_premium %}

{% if ctx.mentions %}
<div>
    <h5>Mention rules</h5>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-info">
                <tr>
                    <th scope="col">
                        Rule name
                    </th>
                    <th scope="col">
                        Base URL
                    </th>
                    <th scope="col">
                        Keyword
                    </th>
                    <th scope="col">
                        Subreddits to include
                    </th>
                    <th scope="col">
                        Subreddits to exclude
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for m in ctx.mentions %}
                <tr>
                    <td>{{m.ruel_name}}</td>
                    <td>{{m.base_url}}</td>
                    <td>{{m.keyword}}
                    </td>
                    <td>{{m.subreddits_only}}
                    </td>
                    <td>{{m.subreddits_exclude}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endif %}

<div class="mt-5">
    <h5>Mentions</h5>
    {% crispy ctx.mention_form %}
</div>
{% endif %}


{% endif %}


{% endblock main %}