{% if ctx.discussions %}
<ul class="list-unstyled">
    {% for d in ctx.discussions %}
    <li class="mb-2">
        <a href="{{d.story_url}}" title="{{d.title}}" class="d-flex flex-column text-body" rel="nofollow">
            {{d.title}}
            <span class="d-inline-block smaller-font url-max-width text-truncate">{{d.story_url}}</span></a>
        <a href="{{d.discussion_url}}" title="View discussion with {{d.score}} {{d.score_label}} on {{platform_name}}"
            rel="nofollow"><strong>{{d.comment_count}}
                comment{{d.comment_count|pluralize:",s"}}</strong></a>
        <span class="smaller-font"><time datetime="{{d.created_at | date:'c'}}">{{d.created_at | date}}</time></span>
        <span class="smaller-font">
            {% if d.tags %} {% if platform != 'r' %} {% endif %} {% for tag in d.tags %}
            {{tag}}{% if not forloop.last %},
            {% endif %} {% endfor %} {% endif %} </span>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Nothing found...</p>
{% endif %}