{% extends "web/base.html" %}

{% block main %}
<div id=discussions>
    <form method="GET">
        <div class="flex-container">
            <label for=url>URL</label>
            <input class="flex-fill-width" id="url" name="url" type="text" value="{{ctx.url}}" />
            <input type="submit" value="Find discussions" />
        </div>
    </form>

    {% if ctx.display_discussions %}
    <br />
    <p class="canonical-url">Canonical URL: <b>{{ctx.canonical_url}}</b></p>
    <p>All the discussions we found for <a href="{{ctx.url}}">{{ctx.url}}</a></p>


    {% for platform, platform_name, platform_url, platform_tag_url, discussions in ctx.grouped_discussions %}
    <div id="platform_{{platform}}">
        <h3><a href="{{ platform_url }}">{{ platform_name }}</a></h3>
        <ul>
            {% for d in discussions %}
            <li><a href="{{d.discussion_url}}" rel="noreferrer noopener" target="_blank"><b>{{d.comment_count}}</b>
                    comment{{d.comment_count|pluralize:",s"}}</a>, <b>{{d.score}}</b> points [{{d.created_at | date}}]
                {% if d.tags %}
                {% if platform != 'r' %}
                Tags:
                {% endif %}
                {% for tag in d.tags %}
                <b><a href="{{platform_tag_url}}/{{tag}}">{{tag}}</a></b>{% if not forloop.last %}, {% endif %}
                {% endfor %}
                {% endif %}
                -
                <b>{{d.title}}</b>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}

    {% endif %}

    {% if ctx.nothing_found %}
    <h2>Discussions not found</h2>
    <p>Sorry, we couldn't find nothing for <b>{{ctx.url}}</b></p>
    <p>If you think we missed something, please write to: <a href="mailto:hi@xojoc.pw">hi@xojoc.pw</a>
    </p>
    {% endif %}


    <br />
    <br />
    <h2>What is this?</h2>
    <p>This form finds all the discussions on <a href="https://news.ycombinator.com/" title='Hacker News'>Hacker
            News</a>,
        <a href="https://lobste.rs/" title='Lobsters'>Lobsters</a>, <a href="https://www.reddit.com/"
            title='Reddit'>Reddit</a>,
        <a href="https://gambe.ro/">gambe.ro</a> and <a href="https://barnacl.es/" title="Barnacles">Barnacles</a>
        (other communities will be added in the
        future).</p>

    <h2>Bookmarklet</h2>
    <p>Use the following bookmarklet to find discussions anywhere you go: <a
            href="{% include "web/discussions_bookmarklet.js" %}" title="Discussions Bookmarklet">Discussions around the
            web</a></p>
    <p>Bookmark the above link and click on it on any page to be redirected here. For more information about
        bookmarklets see <a
            href="https://support.mozilla.org/en-US/kb/bookmarklets-perform-common-web-page-tasks">Firefox's
            help pages</a>.</p>

    <h2>Notes</h2>
    <p>The comments and points counters are approximative. Due to the vast amount of discussions saved in our DB it's
        not possible to keep them all up to date.</p>

    <h2>Examples</h2>
    <ul>
        <li><a href="https://discussions.xojoc.pw/?url=https%3A%2F%2Fwww.gimp.org%2F"
                title="Discussions of GIMP">GIMP</a></li>
        <li><a href="https://discussions.xojoc.pw/?url=https%3A%2F%2Fxojoc.pw%2Fblog%2Ffocus"
                title="Why I'm focusing only on some programming languages">Why I'm focusing only on some programming
                languages</a></li>
        <li><a
                href="https://discussions.xojoc.pw/?url=https%3A%2F%2Fhacks.mozilla.org%2F2017%2F11%2Fentering-the-quantum-era-how-firefox-got-fast-again-and-where-its-going-to-get-faster%2F">How Firefox got fast again and where it’s going to get faster</a></li>
    </ul>

	<h2>Statistics</h2>
	<table>
	  <thead>
		<tr>
		  <th>Platform</th>
		  <th>Total discussions</th>
		  <th>Total comments</th>
		</tr>
	  </thead>
	  <tbody>
		{% for platform in ctx.platform_statistics %}
		<tr>
		<td><a href="{{platform.platform_url}}" title="{{platform.platform_name}}">{{platform.platform_name}}</a></td>
		<td>{{platform.discussion_count}}</td>
		<td>{{platform.comment_count}}</td>
		</tr>
		{% endfor %}
	  </tbody>

	</table>
</div>
{% endblock main %}
