{% extends "web/base.html" %}

{% block title %}
Browser extension - discu.eu
{% endblock title %}

{% block main %}

<h2>Browser extension</h2>
<p>This extension shows if the page you're visiting has been discussed on Hacker News, Lobsters, Reddit, etc.</p>

<h3>Firefox <i class="bi bi-browser-firefox"></i></h3>
<p>
    <a href="https://addons.mozilla.org/en-US/firefox/addon/discussions/"
        title="Discussions around the web extension">Get the Firefox extension</a>.
</p>

<h3>Chrome and Chromium <i class="bi bi-browser-chrome"></i></h3>
<p>
    <a href="https://chrome.google.com/webstore/detail/mihejilgifecplfpdfhjghfmhbhajcke"
        title="Discussions around the web extension">Get the Chrome/Chromium extension</a>.
</p>

<h3>Bookmarklet <i class="bi bi-bookmark-star"></i></h3>
<p>Alternatively you can use the <a href="{% url 'web:bookmarklet' %}" title="Bookmarklets">bookmarklet</a>.
</p>

{% endblock main %}