{% if breadcrumbs %}
<div class="breadcrumbs">
    <ol vocab="https://schema.org/" typeof="BreadcrumbList">
        {% for breadcrumb in breadcrumbs %}
        <li property="itemListElement" typeof="ListItem">
            <a property="item" typeof="WebPage" href="{{breadcrumb.url}}" title="{{breadcrumb.name}}">
                <span property="name">{{breadcrumb.name}}</span>
            </a>
            <meta property="position" content="{{forloop.counter}}">
        </li>
        {% if not forloop.last %}›{% endif %}
        {% endfor %}
    </ol>
</div>
{% endif %}