{% extends "web/base.html" %}

{% block title %}
Social accounts/bots - discu.eu
{% endblock title %}

{% block main %}

<h2 id="mastodon">Mastodon Bots <i class="bi bi-mastodon"></i></h2>
<p>
	The following bots post regularly the most interesting discussions about some particular topic:
</p>

<ul>
	{% for bot in ctx.mastodon_bots %}
	<li><a href="{{bot.link}}" title="{{bot.link_title}}" rel="me nofollow">{{bot.nick}}</a> - {{bot.description}}</li>
	{% endfor %}
</ul>

<p>
	You can find me at <a href="https://mastodon.social/@xojoc" rel="nofollow"
		title="Mastodon profile of Alexandru Cojocaru">@xojoc</a>.
</p>

<h3>What people say</h3>
<iframe src="https://mastodon.technology/@musicmatze/107625490791412949/embed" width="100%" height="200em"></iframe>

<iframe src="https://mastodon.technology/@janriemer/108608183090220649/embed" width="100%" height="200em"></iframe>


<h2 class="mt-5" id="twitter">Twitter Bots <i class="bi bi-twitter"></i></h2>
<p>
	The following bots tweet regularly the most interesting discussions about some particular topic:
</p>

<ul>
	{% for bot in ctx.twitter_bots %}
	<li><a href="{{bot.link}}" title="{{bot.link_title}}" rel="me nofollow">{{bot.nick}}</a> -
		{{bot.description}}
	</li>

	{% endfor %}
</ul>


<p>
	You can find me at <a href="https://twitter.com/XojocXojoc" title="Twitter profile of Alexandru Cojocaru"
		rel="nofollow">@XojocXojoc</a>.
</p>


<h2 class="mt-5" id="reddit">Reddit <i class="bi bi-reddit"></i></h2>
<p>Check out our <a href="https://www.reddit.com/r/discueu/" title="discu.eu subreddit">subreddit</a> for
	quetions,
	feedback or support.</p>


<h2 class="mt-4" id="contact">Contact</h2>
<p>
	If some bot misbehaves or you would like to see a bot for some other topic, drop us an email: bots@discu.eu
</p>


{% endblock main %}