{% extends "web/base.html" %}

{% load humanize %}
{% load util %}

{% block title %}
Discussions statistics
{% endblock title %}

{% block main %}
<div id='statistics'>
    <h2 id="platforms">Platform statistics</h2>
    <table>
        <thead>
            <tr>
                <th>Platform</th>
                <th>Total discussions</th>
                <th>Total comments</th>
                <th>Oldest discussion</th>
                <th>Newest dicussion</th>
            </tr>
        </thead>
        <tbody>
            {% for platform in ctx.statistics.platform %}
            <tr>
                <td><a href="{{platform.platform_url}}"
                        title="{{platform.platform_name}}">{{platform.platform_name}}</a>
                </td>
                <td>{{platform.discussion_count|intcomma}}</td>
                <td>{{platform.comment_count|intcomma}}</td>
                <td>{{platform.date__oldest_discussion|date}}</td>
                <td>{{platform.date__newest_discussion|date}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2 id="domains">Most discussed domains</h2>
    <table>
        <thead>
            <tr>
                <th>Domain</th>
                <th>Total discussions</th>
                <th>Total comments</th>
            </tr>
        </thead>
        <tbody>
            {% for domain in ctx.statistics.top_domains %}
            <tr>
                <td>{{domain.domain}}</td>
                <td>{{domain.discussion_count|intcomma}}</td>
                <td>{{domain.comment_count|intcomma}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!--
    <h2>Most discussed stories</h2>
    <ol>
        {% for story in ctx.statistics.top_stories %}
        <li><a href="{{story.story_url|discussions_url}}" title="{{story.title}}">{{story.title}}</a><br />
            <span class='comment-count-date'><b>{{story.comment_count}}</b> comments (last discussion <time
                    datetime="{{story.date__last_discussion|date:'c'}}">{{story.date__last_discussion|date}})</time></span>
        </li>
        {% endfor %}
    </ol> -->

</div>

{% endblock main %}