{% extends "web/base.html" %}

{% load humanize %}
{% load util %}

{% block title %}
Discussions statistics - discu.eu
{% endblock title %}

{% block meta_description %}
Statistics on discussions, comments and websites across platforms available on discu.eu
{% endblock %}

{% block main %}
<h2 id="platforms">Platform statistics</h2>
<div class="table-responsive">
    <table class="table table-hover">
        <thead class="table-info">
            <tr>
                <th scope="col">Platform</th>
                <th scope="col">Total discussions</th>
                <th scope="col">Total comments</th>
                <th scope="col">Oldest discussion</th>
                <th scope="col">Newest dicussion</th>
            </tr>
        </thead>
        <tbody>
            {% for platform in ctx.statistics.platform %}
            <tr>
                <td><a href="{{platform.platform_url}}" title="{{platform.platform_name}}"
                        rel="nofollow">{{platform.platform_name}}</a>
                </td>
                <td>{{platform.discussion_count|intcomma}}</td>
                <td>{{platform.comment_count|intcomma}}</td>
                <td>{{platform.date__oldest_discussion|date}}</td>
                <td>{{platform.date__newest_discussion|date}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<h2 id="domains" class="mt-4">Most discussed domains</h2>
<div class="table-responsive">
    <table class="table table-hover">
        <thead class="table-info">
            <tr>
                <th scope="col">Domain</th>
                <th scope="col">Total discussions</th>
                <th scope="col">Total comments</th>
            </tr>
        </thead>
        <tbody>
            {% for domain in ctx.statistics.top_domains %}
            <tr>
                <td>{{domain.domain}}</td>
                <td>{{domain.discussion_count|intcomma}}</td>
                <td>{{domain.comment_count|intcomma}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock main %}