{% extends "web/base.html" %}

{% block title %}
Support and contacts - discu.eu
{% endblock title %}

{% block meta_description %}
Reach us for support, questions or feedback on Reddit or directly by email.
{% endblock %}

{% block main %}
<h1 class="fs-2">Support</h1>

<p>
    Check out our <a href="https://www.reddit.com/r/discueu/" title="Discu.eu's subreddit">subreddit</a> for questions,
    feedback or support.
</p>

{% if user.is_premium %}
<p>To contact us by email write to <a href="mailto:support@discu.eu">support@discu.eu</a> and we'll get back to you as
    soon as possible.</p>
{% else %}
<p>Subscribe to a <a href="{% url 'web:pricing' %}" title="Pricing">premium plan</a> to get email support.</p>
{% endif %}
{% endblock %}