{% extends "web/base.html" %}


{% block main %}

<h2>Twitter Bots</h2>
<p>
	The following bots tweet regularly the most interesting discussions about some particular topic:
</p>

<ul>
	<li><a href="https://twitter.com/IntPyDiscu" title="Python Twitter bot">@IntPyDiscus</a> - Python discussions</li>
	<li><a href="https://twitter.com/RustDiscussions" title="Rust Twitter bot">@RustDiscussions</a> - Rust discussions</li>
</ul>

<br/>

<p>
	You can find me at <a href="https://twitter.com/XojocXojoc" title="Twitter profile of Alexandru Cojocaru">@XojocXojoc</a>.
</p>


{% endblock main %}
