{% extends "web/base.html" %}

{% load util %}

{% block title %}
Discussions and comments for your website - discu.eu
{% endblock title %}

{% block meta_description %}
Display discussions and comments across platforms (Hacker News, Reddit, Lobsters, etc.) on your website or blog.
{% endblock %}

{% block main %}

<h2>Display comments on your website</h2>
<p>
    To display discussions for a page on your website or blog, just include a link to discu.eu:

<pre>
    https://discu.eu/?q=<b>URL</b>&submit_title=<b>article title</b></pre>

where <b>URL</b> is the address of your page and <b>submit_title</b> is an optional parameter, which when included is
used to prefill the submission title if the user
decides to submit your story to a platform.
</p>

<p>Discussions are fetched from Hacker News, Reddit, Lobsters and <a href="{% url 'web:statistics' %}#platforms"
        title="Platforms">others</a> and are updated frequently.</p>

<p>
    If you want to include a link only on pages with relevant dicussions then call our <a href="/api/v0/docs"
        title="Discussions API">API</a> first (use the <b>discussions_counts</b> method).
</p>
<p>
    The API returns the comments and discussions count for each platform and subreddit. This way
    you
    can include a link only if you're interested in a specific platform or subreddit.
</p>

<p>
    Check out Bèr's tutorial on how to <a
        href="https://berk.es/2022/10/12/blog-comments-on-a-static-site-via-social-networks/"
        title="Blog comments on a static site via social networks">display discussions on a static website</a>.
</p>

<h3 class="fs-4">Examples</h3>
<ul>
    <li><a href="https://comment.ctrl.blog/discussion/dht-privacy-discovery-hash">How a Hypercore P2P innovation could
            bring more privacy to IPFS</a> on Ctrl.blog which points to <a
            href="https://discu.eu/?q=https%3A%2F%2Fwww.ctrl.blog%2Fentry%2Fdht-privacy-discovery-hash.html&submit_title=How%20a%20Hypercore%20P2P%20innovation%20could%20bring%20more%20privacy%20to%20IPFS">the
            following discussions</a>.
    <li>See section "Comments and Discussions" on <a href="https://berk.es/2022/09/28/value-objects-in-rust/"
            title="Value Objects in Rust">Bèr</a>'s
        blog.</li>
    <li>See the bottom of this <a href="https://xojoc.pw/blog/focus" title="Example article">article</a>
        which includes the following
        <a
            href="https://discu.eu/?q=https://xojoc.pw%2fblog%2ffocus&submit_title=Why%20I%27m%20focusing%20only%20on%20some%20programming%20languages">link</a>.
    </li>
</ul>


<h2 class="fs-4">Widget</h2>
<p>
    Use <a href="https://github.com/berkes/discueu.js" title="discueu.js">berkes/discueu.js</a> as a template to include
    discussions on
    your blog or website.
</p>


<h4 class="fs-5 mt-4">Whole site search</h4>
<p>
    Pro tip: if would like to see all the discussions for your whole site, use the <b>site:</b> prefix when searching.
    Example <a href="{{'site:xojoc.pw'|discussions_url}}" title="Whole site search">site:xojoc.pw</a>.
</p>
{% endblock main %}