{% load humanize %}{% load util %}<p>Hey 👋<br />
    here's the recap
    {% if ctx.topic.topic_key == 'hackernews' or ctx.topic.topic_key == 'laarc' %}for{% else %}about{% endif %}
    {{ctx.topic.name}} for last week:
</p>

{% for category, category_name, stories in ctx.digest %}
<h3>{{category_name}}</h3>
<ul style="padding-left: 0">
    {% for story in stories %}
    <li>
        {% if story.story_url %}
        <p>
            <a href="{{story|story_short_url}}" title="{{story.title}}">{{story.title}}</a>
        </p>
        {% if story.total_comments %}
        <p>
            <span>
                <a href="{{story.story_url|discussions_url_domain}}"
                    title="Discussions for «{{story.title}}»">{{story.total_comments}}
                    comment{{story.total_comments|pluralize}}</a> <small>in
                    {{story.total_discussions}} discussion{{story.total_discussions|pluralize}}</small>
            </span>
        </p>
        {% endif %}
        {% else %}
        <p>
            <a href="{{story.discussion_url}}" title="{{story.title}}" rel="nofollow">{{story.title}}</a>
        </p>
        <p><span>{{story.comment_count}} comment{{story.comment_count|pluralize}}</span></p>

        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endfor %}

<br />
<p>
    Thanks for reading,<br />
    see you next week!<br />
    —
</p>
<p>
    If you prefer RSS feeds sign up for <a href="https://discu.eu/premium">the premium plan</a>.
</p>
<p>
    <a href="{{ctx.web_link}}">View issue online</a>
</p>
<p>
    <a href="{{ctx.subscriber.unsubscribe_url}}">Unsubscribe</a>
</p>