{% extends "web/base.html" %}

{% load humanize %}
{% load util %}

{% block title %}
{{ctx.topic.name}} weekly newsletter - discu.eu
{% endblock title %}

{% block meta_description %}
Weekly newsletter about {{ctx.topic.name}} with articles, projects and tutorials.
{% endblock meta_description %}

{% block html_tag_attributes %}vocab="https://schema.org/" typeof="FAQPage"{% endblock %}

{% block main %}
<h1 class="fs-2">{{ctx.topic.name}} weekly newsletter</h1>
{% if ctx.topic_key == 'hackernews' %}
<p>
    Each monday the most interesting and thought-provoking articles from Hacker News.
</p>
{% elif ctx.topic_key == 'laarc' %}
<p>
    Each monday the most interesting and thought-provoking articles from Laarc.
</p>
{% elif ctx.topic_key == 'unix' %}
<p>
    Each monday articles, projects and news about Unix, GNU/Linux and the BSD family.
</p>
{% else %}
<p>
    Get the latest articles, projects and tutorials about {% if ctx.topic.home_link %}<a href="{{ctx.topic.home_link}}"
        title="{{ctx.topic.short_description}}">{{ctx.topic.name}}</a>{% else %}{{ctx.topic.name}}{% endif %}.
    {% if ctx.topic.noun %}Stay up to date, save time and become a better {{ctx.topic.noun}}.{% else %}Collated,
    filtered and
    delivered straight to you each monday.{% endif %}
</p>
{% endif %}

<br />

{% include "web/weekly_subscribe_form.html" %}



<div class="d-flex flex-row flex-wrap gap-5 text-center justify-content-center mb-5">
    <div class="w-min-content w-min-16ch d-flex flex-column">
        <i class="bi bi-book m-auto text-dark fs-2-5em my-0"></i>
        <span class="fs-5">Informative</span>
        <span class="lead mb-0 smaller-font-1">Best and latest content about {{ctx.topic.name}} from the web.</span>
    </div>
    <div class="w-min-content w-min-16ch d-flex flex-column">
        <i class="bi bi-chat-right-text m-auto text-dark fs-2-5em my-0"></i>
        <span class="fs-5">Discussions</span>
        <span class="lead mb-0 smaller-font-1">See what people say, explore and get more context.</span>

    </div>
    <div class="w-min-content w-min-16ch d-flex flex-column">
        <i class="bi bi-gem m-auto text-dark fs-2-5em my-0"></i>
        <span class="fs-5">Classics</span>
        <span class="lead mb-0 smaller-font-1">Certain wisdom never gets old. Rediscover old gems every week.</span>
    </div>
</div>


<span class="fs-6">Sample issues</span>
<ul class="ms-0 ps-4">
    {% for yearweek in ctx.yearweeks %}
    <li><a href="{% url 'web:weekly_topic_week' ctx.topic_key yearweek.year yearweek.week %}"
            title="{{ctx.topic.name}} recap for week {{yearweek.week}}/{{yearweek.year}}">Week
            {{yearweek.week}}/{{yearweek.year}}</a><span class="smaller-font-3"> — from
            {{yearweek.week_start|date:"j/n/Y"}} to
            {{yearweek.week_end|date:"j/n/Y"}}</span>
    </li>
    {% endfor %}
</ul>


<div class="mt-5 mb-5">
    {% include "web/weekly_faq.html" %}
</div>

<p class="smaller-font-1">
    Discover <a href="{% url 'web:weekly_index' %}" title="Weekly newsletters">all the newsletters</a>.
</p>



{% include "web/weekly_fragment_follow.html" %}

{% endblock main %}