{% load static %}

<div class="card text-bg-light w-max-30em mx-auto pt-1 px-1">
    <div class="card-body">
        <img src="{% static 'profile_pic.jpg' %}" alt="Profile picture of Alexandru Cojocaru" width="200"
            class="float-start me-3 mb-1 border border-dark border-1 rounded-circle w-max-5em" />

        <p>
            <em>As a software developer I need to constantly keep up with what's going on in my field and community.
                Feeling overwhelmed with constant updates and failing to find relevant blogs to add to my feed reader,
                I decided to build something to keep me updated and find discussions happening on Hacker News, Lobsters,
                Reddit, etc.</em>
        </p>
        <p class="text-end">
            <em>— Alexandru Cojocaru</em>
        </p>
    </div>
</div>