{% extends "web/base.html" %}

{% load humanize %}
{% load util %}

{% block title %}
{{ctx.topic.name}} recap for week {{ctx.week}}/{{ctx.year}} - discu.eu
{% endblock title %}

{% block meta_description %}
{{ctx.topic.name}} recap for week {{ctx.week}}/{{ctx.year}} with articles, projects and tutorials.
{% endblock meta_description %}

{% block main %}
<div vocab="https://schema.org/" typeof="Article">
    <h1 class="fs-3" property="name headline">{{ctx.topic.name}} recap for week {{ctx.week}}/{{ctx.year}}</h1>
    <span class="smaller-font">From
        <time datetime="{{ctx.week_start|date:'c'}}">{{ctx.week_start|date:"j/n/Y"}}</time> to
        <time datetime="{{ctx.week_end|date:'c'}}" property="datePublished">{{ctx.week_end|date:"j/n/Y"}}</time></span>


    {% include "web/weekly_subscribe_form.html" with form_lead="true" %}

    {% for category, category_name, stories in ctx.digest %}

    <h2 id="weekly-{{category}}" class="fs-4">{{category_name}} <a href="#weekly-{{category}}" title="{{category_name}}"
            class="relative-url smaller-font-3 text-body align-middle">#</a>
    </h2>

    <ul>
        {% for story in stories %}
        <li>
            <p class="d-flex flex-column">
                {% if story.story_url %}
                <a href="{{story.story_url}}" title="{{story.title}}" rel="nofollow">{{story.title}}</a>

                {% if story.total_comments %}
                <span>
                    <a href="{{story.story_url|discussions_url}}"
                        title="Discussions for «{{story.title}}»">{{story.total_comments}}
                        comment{{story.total_comments|pluralize}}</a> <span class="smaller-font-2">in
                        {{story.total_discussions}} discussion{{story.total_discussions|pluralize}}</span>
                </span>
                {% endif %}
                {% else %}
                <a href="{{story.discussion_url}}" title="{{story.title}}" rel="nofollow">{{story.title}}</a>
                <span>{{story.comment_count}} comment{{story.comment_count|pluralize}}</span>
                {% endif %}
            </p>
        </li>
        {% endfor %}
    </ul>

    {% for k, v in ctx.digest_old_stories.items %}
    {% if k == category and v %}
    <h3 class="smaller-font-1 fw-normal">Blast from the past <a href="#weekly-{{category}}-past"
            title="{{category_name}} from the past" class="relative-url smaller-font-3 text-body align-middle">#</a>
    </h3>
    <ul>
        {% for old_story in v %}
        <li>
            <p class="d-flex flex-column">
                {% if old_story.story_url %}
                <a href="{{old_story.story_url}}" title="{{old_story.title}}" rel="nofollow">{{old_story.title}}</a>


                {% if old_story.total_comments %}
                <span>
                    <a href="{{old_story.story_url|discussions_url}}"
                        title="Discussions for «{{old_story.title}}»">{{old_story.total_comments}}
                        comment{{old_story.total_comments|pluralize}}</a> <span class="smaller-font-2">in
                        {{old_story.total_discussions}} discussion{{old_story.total_discussions|pluralize}}</span>
                    <span class="smaller-font-2"><time
                            datetime="{{old_story.created_at | date:'c'}}">{{old_story.created_at | date}}</time></span>
                </span>
                {% endif %}
                {% else %}
                <a href="{{story.discussion_url}}" title="{{story.title}}" rel="nofollow">{{story.title}}</a>
                <span>{{story.comment_count}} comment{{story.comment_count|pluralize}}</span>
                {% endif %}
            </p>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endfor %}

    {% endfor %}
</div>

<p class="smaller-font-1 mt-5">
    This is an archived issue from the <a href="{% url 'web:weekly_topic' ctx.topic_key %}"
        title="Weekly {{ctx.topic.name}} newsletter">{{ctx.topic.name}}
        newsletter</a>.
</p>

{% include "web/weekly_fragment_follow.html" %}

{% endblock main %}