{% extends "web/base.html" %}

{% load humanize %}
{% load util %}

{% block title %}
Please confirm unsubscription
{% endblock title %}

{% block main %}

{% if ctx.weekly_unsubscribe_form %}
<div class="weekly-subscribe-form">
    <form id="weekly_unsubscribe_form" method="POST">
        {% csrf_token %}
        {{ ctx.weekly_unsubscribe_form.as_ul }}
        <input type="submit" value="Confirm">
    </form>

    <p class="weekly-subscribe-by-email">You can also unsubscribe by writing <a
            href="{{ctx.topic.mailto_unsubscribe}}">"unsubscribe"
            to {{ctx.topic.email}}</a>. To re subscribe at any time reply with "subscribe".</p>
</div>

{%endif%}

{% endblock main %}