{% extends "web/base.html" %}

{% load humanize %}
{% load util %}

{% block title %}
Weekly digests - discussions
{% endblock title %}

{% block main %}
<div class="weekly">
    <h2>Weekly digest</h2>

    <div class="weekly-main">
        <p>
            Keep up with what you care about. Receive a weekly digest every monday with a summary of what's happening on
            the web.
        </p>
        <p class="smaller-font">
            Choose a topic:
        </p>

        <ul class="weekly-index-topics">
            {% for topic_key, topic in ctx.topics.items %}
            <li class="weekly-index-topic">
                <a href="{% url 'web:weekly_topic' topic_key %}" title="{{topic.short_description}}">{{topic.name}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    {% include "web/weekly_subscribe_form.html" %}


    <div class="weekly-footer">
        <p class="weekly-follow">
            For daily updates follow one of our <a href="/social" title="Social media bots">accounts on Twitter or
                Mastodon</a>.
        </p>
    </div>
</div>

{% endblock main %}