{% extends "web/base.html" %}

{% load humanize %}
{% load util %}


{% block title %}
{{ctx.topic.name}} newsletter: issue for week {{ctx.week}}/{{ctx.year}} - discussions
{% endblock title %}


{% block meta_description %}
Issue for week {{ctx.week}}/{{ctx.year}} with articles, projects and tutorials about {{ctx.topic.name}}.
{% endblock meta_description %}


{% block main %}

<div class="weekly">

    <h2>{{ctx.topic.name}} newsletter: issue for week {{ctx.week}}/{{ctx.year}}</h2>
    <span class="smaller-font">From
        {{ctx.week_start|date:"j/n/Y"}} to
        {{ctx.week_end|date:"j/n/Y"}}</span>

    {% for category, category_name, stories in ctx.digest %}

    <h3 id="weekly-{{category}}">{{category_name}} <a href="#weekly-{{category}}" title="{{category_name}} articles"
            class="relative-url">#</a>
    </h3>

    <ul class="weekly-stories">
        {% for story in stories %}
        <li>
            <p>
                <a href="{{story.story_url}}" title="{{story.title}}" rel="nofollow">{{story.title}}</a>
            </p>

            {% if story.total_comments %}
            <p class="weekly-discussions">
                <a href="{{story.story_url|discussions_url}}"
                    title="Discussions for «{{story.title}}»">{{story.total_comments}}
                    comment{{story.total_comments|pluralize}}</a> in
                {{story.total_discussions}} discussion{{story.total_discussions|pluralize}}
            </p>
            {% endif %}

        </li>
        {% endfor %}
    </ul>

    {% endfor %}

    <br />

    {% include "web/weekly_subscribe_form.html" %}

    <br />
    <p>
        This is an archived issue from the <a href="{% url 'web:weekly_topic' ctx.topic_key %}"
            title="Weekly {{ctx.topic.name}} newsletter">{{ctx.topic.name}}
            newsletter</a>.
    </p>


    {% include "web/weekly_fragment_follow.html" %}

</div>
{% endblock main %}