<div class="weekly-faq">
    <h3>Frequently asked questions</h3>
    <h4>Will I receive spam?</h4>
    <p>
        Emails are sent only once a week, every monday. They are always on topic and contain the latest articles,
        tutorials and projects.</p>
    <p>
        You can unsubscribe at any time, by replying "unsubscribe" or following the link at the bottom of each email.
    </p>

    <h4>How much does it cost?</h4>
    <p>
        The newsletter is free. Each issue may have a promoted and relevant link from one of our partners to help us
        keep
        this going.
    </p>
    <p>
        We'll introduce a premium plan in the future to remove ads and enable more features.
    </p>
    <h4>How do I get in touch?</h4>
    <p>
        Drop us an email at: hi@discu.eu and we'll get back as soon as possible.
    </p>
</div>