{% extends "web/base.html" %}

{% load humanize %}
{% load util %}

{% block title %}
Weekly newsletter about {{ctx.topic.name}} - discussions
{% endblock title %}

{% block meta_description %}
Free weekly newsletter about {{ctx.topic.name}} with articles, tutorials, projects and releases.
{% endblock meta_description %}

{% block main %}
<div class="weekly">

    <h2>Free weekly newsletter about {{ctx.topic.name}}</h2>
    {% if ctx.topic_key == 'hackernews' %}
    <p>
        Get every monday a summary of the most interesting articles on Hacker News.
    </p>
    {% else %}
    <p>
        Get the latest articles, projects and tutorials about {{ctx.topic.name}} automatically collated, filtered and
        delivered straight to you each monday.
    </p>
    {% endif %}

    {% include "web/weekly_subscribe_form.html" %}

    <h2>See past issues to see what you'll get</h2>
    <ul>
        {% for yearweek in ctx.yearweeks %}
        <li><a href="{% url 'web:weekly_topic_week' ctx.topic_key yearweek.year yearweek.week %}"
                title="Week {{yearweek.week}}/{{yearweek.year}} for {{ctx.topic.name}}">Week
                {{yearweek.week}}/{{yearweek.year}}</a><span class="smaller-font"> — from
                {{yearweek.week_start|date:"j/n/Y"}} to
                {{yearweek.week_end|date:"j/n/Y"}}</span>
        </li>
        {% endfor %}
    </ul>

    <br />
    <p>
        For more, see <a href="{% url 'web:weekly_index' %}" title="Weekly newsletters">all newsletters</a>.
    </p>


    {% if ctx.twitter_account or ctx.mastodon_account %}
    <div class="weekly-footer">
        <p class="weekly-follow">
            For daily updates follow <a href="https://twitter.com/{{ctx.twitter_account}}"
                title="{{ctx.topic.name}} Twitter bot">{{ctx.twitter_account}}</a> on Twitter or
            <a href="{{ctx.mastodon_account_url}}" title="{{ctx.topic.name}} Mastodon bot">{{ctx.mastodon_account}}</a>
            on Mastodon.
        </p>
    </div>
    {% endif %}
</div>
{% endblock main %}