{% extends "web/base.html" %}

{% load humanize %}
{% load util %}

{% load crispy_forms_tags %}

{% block title %}
Please confirm unsubscription - discu.eu
{% endblock title %}

{% block main %}

{% if ctx.weekly_unsubscribe_form %}
<div class="weekly-subscribe-form">
    <form id="weekly_unsubscribe_form" method="POST">
        {% csrf_token %}
        {{ ctx.weekly_unsubscribe_form | crispy }}
        <input type="submit" value="Unsubscribe" class="btn btn-primary">
    </form>

</div>

{%endif%}

{% endblock main %}