{% extends "web/base.html" %}

{% block main %}

<div id="account-main" class="container mb-4">

  {% block body %}

  {% block content %}
  {% endblock content %}

  {% endblock body %}

  {% block extra_body %}
  {% endblock extra_body %}


  <div class="mt-5">
    <strong>Menu:</strong>
    <ul class="list-unstyled">
      {% if user.is_authenticated %}
      <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
      <li><a href="{% url 'account_logout' %}">Logout</a></li>
      {% else %}
      <li><a href="{% url 'account_login' %}">Login</a></li>
      <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
      {% endif %}
    </ul>
  </div>

</div>
{% endblock main %}